DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=!@Qwerty*
DB_DATABASE=gana_tu_colegio
DB_TYPE=mssql
JWT_SECRET=gana_tu_colegio_2028_jwt_secret_super_seguro
JWT_EXPIRES_IN=24h
PORT=3000
NODE_ENV=development
